@import "../../../scss/mixins.scss";
@import "../../../scss/vars.scss";

.client-list {
  margin-top: 150px;
  @include flex-center;
  .client-table {
    width: 90%;
    .parent {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4%;
      flex-direction: row;
      &:nth-child(2) {
        .child {
          font-weight: bold;
          color: #363636;
        }
      }
      .child {
        width: 20%;
        font-size: 20px;
        text-align: center;
        a {
          padding: 0 10px;
          color: $primary-color;
          &:last-child {
            color: #f00;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      .child1 {
        width: 20%;
        font-size: 27px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
      }
    }
  }
  .child {
    width: 20%;
    font-size: 20px;
    text-align: center;
  }
  .child1 {
    width: 20%;
    font-size: 27px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
  }
}
h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 800;
}

.btn {
  position: absolute;
  right: 50px;
  top: 50px;
  padding: 20px 60px;
  border-radius: 60px;
  background: $primary-color;
  color: $secondary-color;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
