<div class="view-emp">
  <div class="content" *ngIf="employee">
    <h2>EMPLOYEE DETAILS</h2>
    <div class="group" *ngFor="let prop of empProps">
      <span *ngIf="(prop !== '_id' && prop !== '__v')" class="property">
        <div class="title">
          <span>{{ prop }}</span>
          <span> : </span>
        </div>
        <div class="value">{{ employee[prop] }}</div>
      </span>
    </div>

    <a routerLink="/dashboard/updateEmployee/{{employee._id}}">
      <button id="update">Update Details</button>
    </a>
    <a routerLink="/dashboard/employees">
      <button id="delete" (click)="delete(employee._id)">Delete Employee</button>
    </a>
  </div>
</div>
