
* {
  font-family: Arial, ;
}

.header{
    text-align: center;
    color: blue;
    padding:20px;
}
.main_form{
  width: 293px;
  height: 1024px;
  padding-right: 20px;
  text-align: center;
  width: 100%;
}

.main_button{
  margin-bottom: 100%;
  
 
}
    