
  <app-nav></app-nav> <app-calender></app-calender>
<div class="header">
    <h2>ADD CLIENT</h2>
</div>
<form  [formGroup]="clientAddForm" class="main_form">

    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
     <br>
    <mat-form-field>
        <input matInput placeholder = "Email" formControlName="email" >
        <mat-hint>Ex:user@gmail.com</mat-hint>
    </mat-form-field> 
     <br>
    <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
    </mat-form-field>
     <br>
    <mat-form-field>
    <input matInput placeholder="Account Details" formControlName="accountDetails">
    </mat-form-field>
    
    <br>

<button class="main_button" mat-raised-button color="primary" (click)="handleSubmit()">ADD CLIENT</button>

</form>

