<div class="edit-client">
    <form  [formGroup]="clientAddForm" class="main_form">
        <h1>EDIT CLIENT</h1>
        <div class="child">
            <label for="name">Name:</label>
            <input   formControlName="name">
         </div>
    
        <div class="child">
            <label for="name">Email:</label>
            <input   formControlName="email" >
        </div> 
     
        <div class="child">
            <label for="name">Address:</label>
            <input   formControlName="address">
        </div>
  
        <div class="child">
            <label for="name">Account Details:</label>
            <input  formControlName="accountDetails">
        </div>
    

        <button class="main_button"  (click)="updateClient()">UPDATE CLIENT</button>
    </form>
</div>
