@import "../../../scss/mixins.scss";
@import "../../../scss/vars.scss";

.edit-client {
  min-height: 100vh;
  @include flex-center;
  .main_form {
    width: 30%;

    h1 {
      text-align: center;
    }
    .child {
      margin-bottom: 44px;
      font-weight: bold;
      label,
      input {
        font-family: Arial;
        width: 100%;
        padding: 3px 0;
        color: black;
        &:focus {
          color: #000;
        }
      }
    }
  }
  button {
    padding: 10px 30px;
    border: none;
    background: $primary-color;
    color: $secondary-color;
    float: right;
    border-radius: 30px;
    margin-top: 20px;
  }
}
