<h1>EMPLOYEE LIST</h1>


<input class="btn" type="button" value="ADD EMPLOYEE">
<div class="employee-list">
    <div class="employee-table">
       <div class="parent">
          <div class="child1">Name</div>
          <div class="child1">Department</div>
          <div class="child1">Date Of Join</div>
          <div class="child1">Last Paid</div>
       </div>
       <div class="parent1" *ngFor="let employee of employeelist">
          <div class="child">{{employee.Name}}</div>    
          <div class="child">{{employee.Skillset}}</div>        
         <div class="child">{{employee.DateOfJoin}}</div>
         <div class="child">{{employee.lastpaid}}</div>
         </div>
            
    </div>
</div>
